<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>IGRSS</title>
  <%= stylesheet_link_tag   'application', media: 'all' %>
  <%= stylesheet_link_tag   'site', media: 'all' %>
  <%= stylesheet_link_tag   'site/home', media: 'all' %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'site' %>
  <%= javascript_include_tag 'site/home' %>

  <%= csrf_meta_tags %>

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <%= render partial: "layouts/site_shared/navegation" %>
  <%= yield %>
</body>
</html>
